aside {
  h2 { }
  ul {
    padding: 0;
    list-style: none;
    li {
      a {
        // TODO implement link component
        @extend .mb-1;
        display: block;
        font-size: $font-size-lg;
        &:before {
          @extend .mt-2;
          content: '';
          display: block;
          border-bottom: 1px solid theme-color('primary');
        }
        &:after {
          content: '';
        }
      }
    }
  }
  ol {
    padding-inline-start: 0;
    list-style-type: none;
    > li {
      counter-increment: step-counter;
      padding-right: 1px;
      &:hover {
        border-right: 1px solid theme-color('primary');
      }
      &:before {
        content: counter(step-counter)".";
        font-size: .5rem;
        font-weight: lighter;
        margin-right: .5rem;
      }
      > ul {
        padding-left: 1rem;
        display: none;
        li {
          font-size: $font-size-sm;
          font-weight: $font-weight-light;
          /*&:first-of-type::before {
            content: "📀";
          }
          &:nth-of-type(2)::before {
            content: "📅";
          }
          &:last-of-type::before {
            content: "📡";
          }*/
        }
      }
      a {
        font-size: $font-size-sm;
        font-weight: $font-weight-light;
        border: none;
        margin: 0;
        display: initial;
        &:before {
          content: none;
        }
      }
    }
  }
  figure {
    img {
      object-fit: cover;
      max-width: 540px;
      width: 100%;
      height: auto;
      max-height: 150px;
    }
  }
  p b {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  iframe {
    height: 60px;
    position: relative;
    top: -16px;
  }
  p > span {
    font: {
      size: $font-size-sm;
      weight: $font-weight-light;
    }
    text-align: justify;
  }
}