* {
  font-feature-settings: $font-feature-settings;
}

body {
  // animation: color-variation 10s steps(1000) infinite alternate backwards;
}

.wrap {
  @extend .container;
  margin-top: calc(56px + 1em);
}
.content {
  @extend .d-flex;
  .main {
    width: 100%;
  }
  .sidebar {
    @extend .col-4;
  }
}

@keyframes color-variation {
  from {
    background: #fefefe;
    color: $black;
  }
  to {
    background: #0a0a0a;
    color: $white;
  }
}